<div class="question_stem"> <span>Question ##</span>
    <p>' + scope.question.text +'</p>
</div>
<div id="answerImg"></div>
<ul class="answer_set">
	<script type="text/javascript">console.log("howdy")</script>
    <answer ng-model="question" ng-repeat="(key, value) in question.answers" answer="value" key="key"></answer>
</ul>
<div class="feedback">
    <div class="feedback_text feedback_hint"> <span>Hint</span>
        <p>Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper.</p>
    </div>
    <div class="feedback_text feedback_incorrect"> <span>Not Quite</span>
        <p>Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper.</p>
    </div>
    <div class="feedback_text feedback_correct">' + scope.question.feedbackCorrect +' </div>
</div>
<div class="interactions">
    <check-answer></check-answer>
    <next-question></next-question>
    <div class="help_buttons"> <span>Stuck?</span> <span class="help show_hint">Get a hint!</span> </div>
</div>